/* Write your CSS here */
.bol {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-radius: 10px;
  background-color: transparent;
  margin: 20px;
  border:1px solid white;
}
.olo {
  margin: 20px;
  height: 50px;
  width: 50px;
}
h1 {
  color: white;
}
